.Calculator {
  max-width: 400px;
  margin: 0 auto;
  padding: 1rem;
  background-color: #282c34;
  border-radius: 10px;
}

.output {
  font-family: 'Times New Roman', Times, serif;
  background-color: #333;
  color: white;
  font-size: calc(1.5rem + 2vw);
  text-align: right;
  padding: .6rem;
  margin-bottom: 1.4rem;
}

#expression {
  height: 1lh;
  font-size: calc(1rem + 1vw);
  color: #fffc47
}

.button-panel {
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
}

.button {
  font-size: calc(.8rem + 1.5vw);
  border-radius: 5px;
  background-color: #444;
  color: white;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #555;
}

#clear {
  background-color: rgb(255, 58, 58);
  grid-column: 1 / 3;
}

#equals {
  grid-column: -2;
  grid-row: 4 / 6;
}

#zero {
  grid-column: 1 / 3;
}
